.cart-counter {
  border-radius: 50%;
  color: white;
  background: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 25px;
  width: 25px;
  bottom: 0;
  right: 0;
  transform: translate(35%, 35%);
  font-size: 16px;
}

.thumbnail {
  width: 120px;
  height: 70px;
  object-fit: cover;
}
.fs-small {
  font-size: 12px;
  margin-left: 2px;
}
